{% extends "principal.html" %}
{% block title %}<title>Editar Detalle Factura</title>{% endblock %}
{% block content %}

<h1>{{DetalleFacturas}}</h1>
<form action="" method="post">
    <div class="container">
        <div class="caja">
        <div class="row row justify-content-md-center">
            
            <div class="col col-lg-3">
                <h3 class="font-weight-bold mb-0">Detalle Factura</h3>
        
    {% csrf_token %}
    <!-- {{ form.as_p }} -->
    {% for field in form %}
        <div class="field_container">
            {{ field.errors }}
            {{ field.label_tag }} </br>
            {{ field }}
        </div>
    {% endfor %}
    <p>

    </p>
    <div class="field_container">
    <button class="btn btn-primary mtop16" type="submit"> {{accion}}  </button>
    <button class="btn btn-danger mtop16" type="submit">Cancelar</button>
</div>
</div>
</div>
</div>
</div>
</form>

{% endblock %}